body, input, th, td, h1, h2, h3, h4, h5, h6
  font-family: "Nixie One", "Helvetica Neue", helvetica, verdana, arial

body
  font-size: 1em
  background-color: rgba(28, 28, 28, 1)
  color: #fff
  line-height: 1.5em

#container
  width: 1030px
  margin: 0 auto
  padding: 0 15px
  min-height: 700px

.window
  width: 1000px

.ui-mobile [data-role="page"], .ui-page
  width: 1000px
  position: relative

.short
  height: 700px

.tall
  .height: 800px

#descr.left
  left: 0px
  border-top-right-radius: 10px
  border-bottom-right-radius: 10px

#descr.right
  left: 720px
  border-top-left-radius: 10px
  border-bottom-left-radius: 10px

strong
  font-family: "Open Sans", "Helvetica Neue", helvetica, verdana, arial, sans-serif
  font-weight: 700

#descr
  position: relative
  width: 275px
  height: 380px
  background-color: rgba(28, 28, 28, 0.4)
  top: 30px
  padding: 50px 16px 15px
  text-align: right

h1, h2
  font-family: "Futura"
  font-weight: normal
  letter-spacing: -0.1em
  border-top: 1px solid #999
  border-top-width: thick
  padding-right: 10px
  margin-top: 0px
  line-height: 1.5em

h1
  font-size: 4em
  margin-bottom: 20px

h2
  font-size: 1.5em
  text-transform: uppercase
  margin-bottom: 30px
  color: #ccc

#descr > p.text
  line-height: 2.2em
  margin-bottom: 30px
  letter-spacing: 0.2em
  font-family: "Open Sans"
  font-weight: 300
  font-style: italic
  font-size: 0.8em

#descr > p.meta
  font-family: "Nixie One"
  line-height: 1.8em
  font-size: 0.65em
  letter-spacing: 0.2em

#foldertab
  -webkit-transform: rotate(-90deg)
  -moz-transform: rotate(-90deg)
  -ms-transform: rotate(-90deg)
  -o-transform: rotate(270deg)
  position: relative
  display: none
  padding: 0 20px
  background-color: rgba(28, 28, 28, 0.8)
  width: 180px
  height: 30px
  padding-top: 10px

#foldertab.right
  left: 900px
  top: 120px
  border-top-right-radius: 10px
  border-top-left-radius: 10px

#foldertab.left
  left: -90px
  top: 120px
  border-bottom-right-radius: 10px
  border-bottom-left-radius: 10px

#foldertab > h1, #foldertab > h2
  font-size: 0.8em
  display: block

#foldertab > h1
  border-top: none
  border-right: 1px solid #999
  float: left

#foldertab > h2
  padding-left: 2.9em
  border: none
  letter-spacing: 0.1em
