%html
  %head
    %title= "ooga::llery" + (@title ? " // #{@title}" : '')
    %link{ :rel => 'stylesheet', :href => '/photo/css/reset.css' }
    %link{ :rel => 'stylesheet', :href => '/photo/css/formalize.css' }
    %link{ :rel => 'stylesheet', :href => '/photo/css/jquery.mobile.structure-1.0.min.css' }
    %link{ :rel => 'stylesheet', :href => '/photo/css/default.css' }
    %link{ :href => 'http://fonts.googleapis.com/css?family=Nixie+One', :rel => 'stylesheet', :type => 'text/css' }
    %link{ :href => 'http://fonts.googleapis.com/css?family=Quicksand:300,400,700', :rel => 'stylesheet', :type => 'text/css' }
    %link{ :href => 'http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700', :rel => 'stylesheet', :type => 'text/css' }
    %script{ :language => 'javascript', :src => '/photo/js/jquery/jquery-1.6.2.min.js' }
    %script{ :language => 'javascript', :src => '/photo/js/jquery/jquery.mobile-1.0.min.js' }
    %script{ :language => 'javascript', :src => '/photo/js/jquery.formalize.min.js' }
  %body
    #container
      =yield
