%br
%br
%form{ :action => '/photo/login/verify', :method => 'POST' }
  %strong Username
  %br
  %input#username{ :name => 'username', :type => 'text', :size => 50 }
  %br
  %br

  %strong Password
  %br
  %input#password{ :name => 'password', :type => 'password', :size => 50 }
  %br
  %br
  
  %input#loginbtn{ :type => :submit, :value => 'Login' }