%br
%br
%form{ :action => '/photo/edit', :method => 'POST' }
  %strong URI
  %br
  %input#uri{ :name => 'uri', :type => 'text', :size => 80 }
  %br
  %br

  %strong Title
  %br
  %input#title{ :name => 'title', :type => 'text', :size => 50 }
  %br
  %br

  %strong Description
  %br
  %textarea#description{ :name => 'description', :style => 'width: 400px; height: 150px' }
  %br
  %br

  %strong Picture Taken
  %br
  %input#captured{ :name => 'captured', :type => 'text', :size => 20 }
  %br
  %br

  %strong Overlay Location
  %br
  %select#overlay{ :name => 'overlay' }
    %option{ :value => '--' }= '--'
    %option{ :value => 'left' }= 'Left'
    %option{ :value => 'right'}= 'Right'
  %br
  %br

  %strong Location Name
  %br
  %input#loc_name{ :name => 'loc_name', :type => 'text', :size => 50 }
  %br
  %br

  %strong City
  %br
  %input#loc_city{ :name => 'loc_city', :type => 'text', :size => 50 }
  %br
  %br

  %strong State
  %br
  %input#loc_state{ :name => 'loc_state', :type => 'text', :size => 5 }
  %br
  %br
  
  %input#addbtn{ :type => :submit, :value => 'Add' }