.window{ 'data-role' => 'page' }
  %link{ :href => "/photo/#{'%02d' % @image.id}?css=true", :rel => 'stylesheet' }
  #descr{ :class => [(@image.overlay.to_s || 'left'), (@tall ? 'tall' : 'short')].join(' ') }
    %h1= '%02d' % @image.id
    %h2= @image.title
    %p.text
      =@image.description.to_s.gsub("\n", '<br>')
    %p.meta
      =@image.location[:name]
      %br
      ="#{@image.location[:city]}, #{@image.location[:state]}"
      %br
      =Time.parse(@image.captured.to_s || Time.now).strftime('%B %Y')
  #foldertab{ :class => (@image.overlay.to_s || 'left') }
    %h1= '%02d' % @image.id
    %h2= @image.title


- if not @fragment
  :javascript
    function set_bg() {
      var img = '#{@image.uri.to_s}';
      $('#container').css('background', 'url(' + img + ') no-repeat center top');
    }

    function start_transition() {
      $('#descr').show();
      $('#foldertab').hide();

      $('#descr').fadeOut(8000, function() {
        $('#foldertab').fadeIn(500);
      });

      $('#foldertab').hover(function() {
        $('#foldertab').fadeOut(300, function() {
          $('#descr').fadeIn(300);
        });
      }, function() {
        $('#descr').fadeOut(4000, function() {
          $('#foldertab').fadeIn(500);
        });
      });
    }

    $(document).ready(function() {
      start_transition();

      $(document).bind('pageshow', function() {
        start_transition();
      });

      $('#container').bind('swipeleft swiperight', function(e) {
        image_id = parseInt(window.location.pathname.replace('/photo/', '')) + (e.type == 'swipeleft' ? 1 : -1);
        next_photo = '/photo/' + image_id; 
        $.mobile.changePage(next_photo + '?fragment=yes', { 'dataUrl': next_photo, 'reverse': e.type != 'swipeleft', dataContainer: $('#container'), 'transition': 'slide' });
        // window.location.pathname = next_photo;
      });

      $(document).keyup(function(e) {
        var target = false;

        if (e.keyCode == 39 || e.keyCode == 37) {
          target = parseInt(window.location.pathname.replace('/photo/', '')) + (e.keyCode == 39 ? 1 : -1) ;
          window.location.pathname = '/photo/' + target;
        }
      });
    });
