:sass
  #container
    background: url(#{@image.uri}) no-repeat center top

  #descr.#{@image.overlay.to_s || 'left'}
    left: #{@left[:descr]}px

  #foldertab.#{@image.overlay.to_s || 'left'}
    left: #{@left[:folder]}px